$g-text-common: #111;
$g-text-grey: #A3A3A3;
$g-text-grey-lite: #f0f0f0;
$g-text-grey-c1: #C1C1C1;
$g-border-grey: #e3e3e3;

$g-green-button-color: #4CAF50;
$g-green-text-color: #04BD22;

$g-warning-org-color: #F57C00;

$g-error-red-color: #EE2F24;
$g-red-text-color: #EE2E27;
